.banniere {
	width:100%;
}

.header-profil {
	background: #931010; /* Old browsers */
	background: -moz-linear-gradient(top, #931010 0%, #731010 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#931010), color-stop(100%,#731010)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #931010 0%,#731010 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #931010 0%,#731010 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #931010 0%,#731010 100%); /* IE10+ */
	background: linear-gradient(to bottom, #931010 0%,#731010 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#931010', endColorstr='#731010',GradientType=0 ); /* IE6-9 */
	height:190px;
}

.photo-profil {
	margin:20px;
}

.pseudo {
	font-size: 30px;
}

.date-inscription {
	font-size: 12px;
	position: relative;
	bottom:10px;
	color:#AAA;
}

.description {
	text-align:justify;
}